/* @import "tailwindcss"; */
@import "tailwindcss/theme.css";
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg: #171717;
  --fg: #fff;
  --menu-bg: #0f0f0f;
  --menu-fg-secondary: #5f5f5f;
  --hamburger-icon-border: rgba(255, 255, 255, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  scrollbar-gutter: stable;
}
html {
  scroll-behavior: smooth;
}
.active .nav-indicator {
  width: 4rem;
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "TWK Lausanne", sans-serif;
}
.imga {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
footer p {
  color: #fff;
  font-size: 15px;
  font-weight: lighter;
}
.slider-counter {
  display: flex;
}
.slider-counter p,
.slider-counter > div {
  width: 24px;
  display: flex;
  justify-content: center;
}
.slider-counter p {
  opacity: 0.35;
}
.count {
  position: relative;
  height: 18px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.count p {
  position: absolute;
  transform: translateY(0px);
  font-size: 16px;
  will-change: transform;
  opacity: 1;
}
.slider {
  position: relative;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path opacity;
}
.slide-bg-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.35);
}
.slide-main-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 50%;
  z-index: 2;
}
.slide-main-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
}
.slide-copy {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
}
.slide-title {
  position: relative;
  width: 500px;
  min-height: 50px;
  margin-bottom: 0.75em;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.slide-title h1 {
  position: absolute;
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  transform: translateY(0px);
  will-change: transform;
}

.slide-description {
  position: relative;
  width: 500px;
  height: 20px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.slide-description p {
  position: absolute;
  color: #fff;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1;
  transform: translateY(0px);
  will-change: transform;
}
@media (max-width: 900px) {
  .slide-main-img {
    width: 75%;
  }
  .slide-copy {
    top: 60%;
    left: 70%;
  }
}
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/* Nav Styles */
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/*******************************************/
/* body {
  font-family: "PP Neue Montreal", "Inter", sans-serif;
} */

/* h1 {
  font-size: 7.5rem;
  font-weight: 500;
  letter-spacing: -0.2rem;
  line-height: 1;
}

p {
  font-size: 0.95rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--fg);
  font-size: 1.5rem;
  font-weight: 500;
} */

.menu-hamburger-icon span:nth-child(1) {
  transform: translateY(-3px);
}

.menu-hamburger-icon span:nth-child(2) {
  transform: translateY(3px);
}

.menu-hamburger-icon.active span:nth-child(1) {
  transform: translateY(0) rotate(45deg) scaleX(1.05);
}

.menu-hamburger-icon.active span:nth-child(2) {
  transform: translateY(0) rotate(-45deg) scaleX(1.05);
}

.menu-col:nth-child(1) {
  flex: 3;
}

.menu-col:nth-child(2) {
  flex: 2;
}

.menu-link a {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.menu-tag a,
.menu-footer p {
  color: var(--menu-fg-secondary);
}

.line {
  position: relative;
  will-change: transform;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
    letter-spacing: -0.05rem;
  }

  .menu-media-wrapper {
    display: none;
  }

  .menu-content-main,
  .menu-footer {
    width: 100%;
  }

  .menu-content-main {
    top: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
  }

  .menu-link a {
    font-size: 3rem;
  }

  .menu-tag a {
    font-size: 1.25rem;
  }
}
